.d1{
    display: flex;
    border: 1px solid rgb(245, 245, 245);
    color: rgb(202, 56, 56);
    margin-top: 11px;
}
.d1 ol{
    list-style: none;
    float: left;   
}
.d1 ol li{
    font-size: 18px;
    float: left;
    padding: 20px;
}
.d11 img{
    margin-left: 50px;
}
.d1 h1{
    padding: 10px;
}
.d1 h1 span{
    background-color: rgb(202, 56, 56);
    color: rgb(245, 245, 245);
}
.d12{
    padding: 25px;
}