body{
    background-color: rgba(14, 132, 148, 0.103);
}

pre{
    border: 1px solid  rgba(14, 132, 148, 0.100);
    color:rgba(0, 17, 255, 0.459) ; 
    font-size: 30px;
    margin-left: 130px;
    margin-right: 200px;
    font-weight: 400;
}
.p{
    margin: 20px;
    font-size: 21px;
    text-align: center;
}

.dmain{
    display: flex;
    font-size: 20px;
    text-align: center;
}
.main1{
    width: 50%;
    
    

}
.main2{
    width: 50%;
    
    
}
.dlast{
    text-align: center;
    display: flex;
    font-size: 20px;
}

.last1{
    width: 50%;    
    background-color: rgba(216, 112, 147, 0.555);
}
.last1 h2{
    color: rgba(255, 0, 43, 0.785);
}
.last2{
    width: 50%;
    background-color: rgba(14, 132, 148, 0.664);
}
.last2 h2{
    color: rgba(255, 0, 43, 0.785);
}

.dmid{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}
img{
    width: 36px;
    margin-right: 5%;
    
}
.main25 h2 img{
margin-right: 8%;
}
.main25 h2{
    margin-right: 15%;
}
.main15 h2 img{
margin-right: 3%;
}
.main15 h2{
    margin-right: 15%;

}
.main23 h2 img{
 margin-right: 8%;
}